{{ h2('Submitter and significance breakdown')|safe }}
<table class="breakdown sortable table table-bordered table-striped">
    <thead>
        <tr>
            <th>Submitter</th>
            {% for significance in significances %}
                <th>{{ significance }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for submitter_id in breakdown_by_submitter_and_significance %}
            <tr>
                <th>{{ submitter_link(submitter_id, breakdown_by_submitter_and_significance[submitter_id]['name'])|safe }}</th>
                {% for significance in significances %}
                    {% if breakdown_by_submitter_and_significance[submitter_id]['counts'][significance] %}
                        <td class="highlight">
                            <a href="{{ request.base_url }}/submitter/{{ submitter_id }}/{{ significance|quotepath }}{{ request|querysuffix }}">
                                {{ breakdown_by_submitter_and_significance[submitter_id]['counts'][significance] }}
                            </a>
                        </td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
