{{ h2('Submitter and significance breakdown')|safe }}
<div class="totals">
    <div>Total submitters: {{ breakdown_by_submitter_and_significance|length }}</div>
    <div>{{ 'submitter-table'|selectlink|safe }}</div>
</div>
<table class="breakdown sortable table table-bordered table-striped" id="submitter-table">
    <thead>
        <tr>
            <th>Submitter</th>
            {% for significance in significances %}
                <th>{{ significance }}</th>
            {% endfor %}
            <th class="desc">total</th>
        </tr>
    </thead>
    <tbody>
        {% for submitter_id in breakdown_by_submitter_and_significance %}
            <tr>
                <th>
                    <a href="{{ request.base_url }}/submitter/{{ submitter_id }}{{ query_suffix('min_conflict_level') }}">
                        {{ breakdown_by_submitter_and_significance[submitter_id]['name'] }}
                    </a>
                </th>
                {% for significance in significances %}
                    {% if significance in breakdown_by_submitter_and_significance[submitter_id]['counts'] %}
                        <td class="highlight">
                            <a href="{{ request.base_url }}/submitter/{{ submitter_id }}/{{ significance|superescaped }}{{ query_suffix('min_conflict_level', 'original_terms') }}">
                                {{ breakdown_by_submitter_and_significance[submitter_id]['counts'][significance] }}
                            </a>
                        </td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}
                <td class="highlight">
                    <a href="{{ request.base_url }}/submitter/{{ submitter_id }}{{ query_suffix('min_conflict_level') }}">
                        {{ breakdown_by_submitter_and_significance[submitter_id]['counts']['total'] }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
