{{ h2('Gene and significance breakdown')|safe }}
<table class="breakdown sortable table table-bordered table-striped">
    <thead>
        <tr>
            <th>Gene</th>
            {% for significance in significances %}
                <th>{{ significance }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for gene in breakdown_by_gene_and_significance %}
            <tr>
                <th>{{ gene|genelink|safe or '\u200Bintergenic' }}</th>
                {% for significance in significances %}
                    {% if breakdown_by_gene_and_significance[gene][significance] %}
                        <td class="highlight">
                            <a href="{{ request.base_url }}/gene/{{ gene|superescaped or 'intergenic' }}/{{ significance|superescaped }}{{ request|querysuffix }}">
                                {{ breakdown_by_gene_and_significance[gene][significance] }}
                            </a>
                        </td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
