{{ h2('Condition and significance breakdown')|safe }}
<table class="breakdown sortable table table-bordered table-striped">
    <thead>
        <tr>
            <th>Condition</th>
            {% for significance in significances %}
                <th>{{ significance }}</th>
            {% endfor %}
            <th class="desc">total</th>
        </tr>
    </thead>
    <tbody>
        {% for condition_name in breakdown_by_condition_and_significance %}
            <tr>
                <th>{{ condition_link(breakdown_by_condition_and_significance[condition_name]['db'], breakdown_by_condition_and_significance[condition_name]['id'], condition_name)|safe }}</th>
                {% for significance in significances %}
                    {% if significance in breakdown_by_condition_and_significance[condition_name]['counts'] %}
                        <td class="highlight">
                            <a href="{{ request.base_url }}/condition/{{ condition_name|superescaped }}/{{ significance|superescaped }}{{ request|querysuffix }}">
                                {{ breakdown_by_condition_and_significance[condition_name]['counts'][significance] }}
                            </a>
                        </td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}
                <td class="highlight">
                    <a href="{{ request.base_url }}/condition/{{ condition_name|superescaped }}{{ request|querysuffix }}">
                        {{ breakdown_by_condition_and_significance[condition_name]['counts']['total'] }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
