{{ h2('Gene and significance breakdown')|safe }}
{{ table_search_box('gene-table')|safe }}
<div class="totals">
    <div>Total genes and gene combinations: {{ breakdown_by_gene_and_significance['data']|length }}</div>
    <div>{{ 'gene-table'|tabledownloadlink|safe }}</div>
</div>
<table class="breakdown sortable table table-bordered table-striped" id="gene-table">
    <thead>
        <tr>
            <th>Gene or gene combination</th>
            {% for significance in breakdown_by_gene_and_significance['significances'] %}
                <th>{{ significance }}</th>
            {% endfor %}
            <th class="desc">total</th>
        </tr>
    </thead>
    <tbody>
        {% for gene in breakdown_by_gene_and_significance['data'] %}
            <tr>
                {% with %}
                    {% set url = request.base_url + '/gene/' + (gene|superescaped or 'intergenic') %}
                    {% set params = ['min_conflict_level', 'original_genes', 'date'] %}
                    <th>
                        <a href="{{ url + query_suffix(params) }}">
                            {{ gene or '\u200Bintergenic' }}
                        </a>
                    </th>
                    {% for significance in breakdown_by_gene_and_significance['significances'] %}
                        {% if significance in breakdown_by_gene_and_significance['data'][gene] %}
                            <td class="highlight">
                                <a href="{{ url + '/' + significance|superescaped + query_suffix(params + ['original_terms']) }}">
                                    {{ breakdown_by_gene_and_significance['data'][gene][significance] }}
                                </a>
                            </td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                    {% endfor %}
                    <td class="highlight">
                        <a href="{{ url + query_suffix(params) }}">
                            {{ breakdown_by_gene_and_significance['data'][gene]['total'] }}
                        </a>
                    </td>
                {% endwith %}
            </tr>
        {% endfor %}
    </tbody>
</table>
