{{ h2('Submitter and significance breakdown')|safe }}
<div class="totals">
    <div>Total submitters: {{ breakdown_by_submitter_and_significance['data']|length }}</div>
    <div>{{ 'submitter-table'|tabledownloadlink|safe }}</div>
</div>
<table class="breakdown sortable table table-bordered table-striped" id="submitter-table">
    <thead>
        <tr>
            <th>Submitter</th>
            {% for significance in breakdown_by_submitter_and_significance['significances'] %}
                <th>{{ significance }}</th>
            {% endfor %}
            <th class="desc">total</th>
        </tr>
    </thead>
    <tbody>
        {% for submitter_id in breakdown_by_submitter_and_significance['data'] %}
            <tr>
                {% with url = request.base_url + '/submitter/' + submitter_id|string %}
                    <th>
                        <a href="{{ url + query_suffix('min_conflict_level', 'gene_type', 'original_genes') }}">
                            {{ breakdown_by_submitter_and_significance['data'][submitter_id]['name'] }}
                        </a>
                    </th>
                    {% for significance in breakdown_by_submitter_and_significance['significances'] %}
                        {% if significance in breakdown_by_submitter_and_significance['data'][submitter_id]['counts'] %}
                            <td class="highlight">
                                <a href="{{ url + '/' + significance|superescaped + query_suffix('min_conflict_level', 'gene_type', 'original_genes', 'original_terms') }}">
                                    {{ breakdown_by_submitter_and_significance['data'][submitter_id]['counts'][significance] }}
                                </a>
                            </td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                    {% endfor %}
                    <td class="highlight">
                        <a href="{{ url + query_suffix('min_conflict_level', 'gene_type', 'original_genes') }}">
                            {{ breakdown_by_submitter_and_significance['data'][submitter_id]['counts']['total'] }}
                        </a>
                    </td>
                {% endwith %}
            </tr>
        {% endfor %}
    </tbody>
</table>
