<p>
    If a variant has more than two submissions, it may have multiple conflicts and therefore be counted in more than one
    conflict column. If this is the case, the total number of variants (i.e. the sum of the "Variants with no conflict"
    and "Variants with any kind of conflict" cells) will be less than the sum of the middle cells.
</p>
<table class="breakdown table table-bordered table-striped">
    <thead>
        <tr>
            <th>Variants with no conflict</th>
            <th>Variants with a synonymous conflict<br/>(e.g. benign vs non-pathogenic)</th>
            <th>Variants with a confidence conflict<br/>(e.g. benign vs likely benign)</th>
            <th>Variants with a benign vs uncertain conflict</th>
            <th>Variants with a category conflict<br/>(e.g. benign vs affects)</th>
            <th>Variants with a clinically significant conflict<br/>(e.g. benign vs pathogenic)</th>
            <th>Variants with any kind of conflict</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if total_variants - total_conflicting_variants %}
                <td class="level0-conflict">{{ total_variants - total_conflicting_variants }}</td>
            {% else %}
                <td>0</td>
            {% endif %}
            {% for i in range(1, 6) %}
                {% if i in overview %}
                    <td class="level{{ i }}-conflict">{{ overview[i] }}</td>
                {% else %}
                    <td>0</td>
                {% endif %}
            {% endfor %}
            {% if total_conflicting_variants %}
                <td class="highlight">{{ total_conflicting_variants }}</td>
            {% else %}
                <td>0</td>
            {% endif %}
        </tr>
    </tbody>
</table>
