{{ h2('Significance breakdown')|safe }}
{% if not request.args.get('original_terms') %}
    <p>
        In the table below, cells that correspond to a term paired with itself represent synonymous conflicts, i.e.
        variants that have been annotated with different terms that map to the same standard term. To compare the terms
        that were actually submitted, check the box in the filters section at the top of this page.
    </p>
{% endif %}
<table class="breakdown table table-bordered table-condensed table-striped">
    {% if x_label %}
        <tr>
            {% if y_label %}<th></th>{% endif %}
            <th colspan="{{ breakdown['submitter2_significances']|length + 1 }}">{{ x_label|safe }}</th>
        </tr>
    {% endif %}
    <tr>
        {% if y_label %}
            <th rowspan="{{ breakdown['submitter1_significances']|length + 1 }}">{{ y_label|safe }}</th>
        {% endif %}
        <th></th>
        {% for significance2 in breakdown['submitter2_significances'] %}
            <th>{{ significance2 }}</th>
        {% endfor %}
    </tr>
    {% for significance1 in breakdown['submitter1_significances'] %}
        <tr>
            <th>{{ significance1 }}</th>
            {% for significance2 in breakdown['submitter2_significances'] %}
                {% if significance2 in breakdown['data'][significance1] %}
                    <td
                        class="level{{ breakdown['data'][significance1][significance2]['level'] }}-conflict"
                        title="{{ breakdown['data'][significance1][significance2]['level']|conflictlevel }}"
                    />
                        {% if link_base %}
                            <a href="{{ link_base }}/{{ significance1|superescaped }}/{{ significance2|superescaped }}{{ query_suffix(['original_genes', 'original_terms', 'date']) }}">
                                {{ breakdown['data'][significance1][significance2]['count'] }}
                            </a>
                        {% else %}
                            {{ breakdown['data'][significance1][significance2]['count'] }}
                        {% endif %}
                    </td>
                {% else %}
                    <td>0</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
