{{ h2('Significance breakdown')|safe }}
{% if not request.args.get('original_terms') %}
    <p>
        In the table below, cells that correspond to a term paired with itself represent synonymous conflicts, i.e.
        variants that have been annotated with different terms that map to the same standard term. To compare the terms
        that were actually submitted, check the box in the filters section at the top of this page.
    </p>
{% endif %}
<table class="breakdown table table-bordered table-condensed table-striped">
    {% if submitter2_info %}
        <tr>
            {% if submitter1_info %}<th></th>{% endif %}
            <th colspan="{{ submitter2_significances|length + 1 }}">
                {{ submitter_link(submitter2_info['id'], submitter2_info['name'])|safe }}
            </th>
        </tr>
    {% endif %}
    <tr>
        {% if submitter1_info %}
            <th rowspan="{{ submitter1_significances|length + 1 }}">
                {{ submitter_link(submitter1_info['id'], submitter1_info['name'])|safe }}
            </th>
        {% endif %}
        <th></th>
        {% for significance2 in submitter2_significances %}
            <th>{{ significance2 }}</th>
        {% endfor %}
    </tr>
    {% for significance1 in submitter1_significances %}
        <tr>
            <th>{{ significance1 }}</th>
            {% for significance2 in submitter2_significances %}
                {% if significance2 in breakdown[significance1] %}
                    <td class="highlight">
                        {% if link_base %}
                            <a href="{{ link_base }}/{{ significance1|superescaped }}/{{ significance2|superescaped }}{{ request|querysuffix }}">
                                {{ breakdown[significance1][significance2] }}
                            </a>
                        {% else %}
                            {{ breakdown[significance1][significance2] }}
                        {% endif %}
                    </td>
                {% else %}
                    <td>0</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
