<table class="table" style="width:auto">
    <tr>
        {% with %}
            {% set label = review_status1_label %}
            {% set name = 'min_stars1' %}
            {% include 'include/min-stars-filter.html' %}
        {% endwith %}
        {% if method1_label %}
            {% with %}
                {% set label = method1_label %}
                {% set name = 'method1' %}
                {% include 'include/method-filter.html' %}
            {% endwith %}
        {% endif %}
    </tr>
    <tr>
        {% if review_status2_label %}
            {% with %}
                {% set label = review_status2_label %}
                {% set name = 'min_stars2' %}
                {% include 'include/min-stars-filter.html' %}
            {% endwith %}
        {% endif %}
        {% if method2_label %}
            {% with %}
                {% set label = method2_label %}
                {% set name = 'method2' %}
                {% include 'include/method-filter.html' %}
            {% endwith %}
        {% endif %}
    </tr>
    {% if min_conflict_level_filter %}
        <tr>
            <td colspan="4">
                Minimum conflict level:
                <select name="min_conflict_level" style="margin-left:1em; margin-right:1em">
                    <option></option>
                    {% if min_conflict_level_filter != 'high_only' %}
                        <option
                                {% if request.args.get('min_conflict_level') == '0' %}selected="selected"{% endif %}
                                value="0">
                            multiple submissions, potential for conflict
                        </option>
                        <option
                                {% if request.args.get('min_conflict_level') == '1' %}selected="selected"{% endif %}
                                title="standard term vs non-standard but equivalent term"
                                value="1">
                            synonymous conflict (e.g. benign vs non-pathogenic)
                        </option>
                    {% endif %}
                    <option
                            {% if request.args.get('min_conflict_level') == '2' %}selected="selected"{% endif %}
                            title="benign vs likely benign, or pathogenic vs likely pathogenic"
                            value="2">
                        confidence conflict (e.g. benign vs likely benign)
                    </option>
                    <option
                            {% if request.args.get('min_conflict_level') == '3' %}selected="selected"{% endif %}
                            value="3">
                        benign or likely benign vs uncertain conflict
                    </option>
                    <option
                            {% if request.args.get('min_conflict_level') == '4' %}selected="selected"{% endif %}
                            title="ACMG term vs non-ACMG term, or non-ACMG term vs other non-ACMG term"
                            value="4">
                        category conflict (e.g. benign vs affects)
                    </option>
                    <option
                            {% if request.args.get('min_conflict_level') == '5' %}selected="selected"{% endif %}
                            title="benign, likely benign, or uncertain significance vs pathogenic or likely pathogenic"
                            value="5">
                        clinically significant conflict (e.g. benign vs pathogenic)
                    </option>
                </select>
                <label>
                    <input
                        {% if request.args.get('original_conflict_levels') %} checked="checked" {% endif %}
                        name="original_conflict_levels"
                        type="checkbox"
                        value="1"
                    />
		    Report conflict between different conditions
                </label>
	    </td>
        </tr>
    {% endif %}
    {% if gene_filters %}
        <tr>
            <td colspan="4">
		Gene type:
                <select name="gene_type" style="margin-left:1em; margin-right:1em">
                    <option></option>
                    <option {% if request.args.get('gene_type') == '1' %}selected="selected"{% endif %} value="1">
                        in or near a single gene
                    </option>
                    <option {% if request.args.get('gene_type') == '2' %}selected="selected"{% endif %} value="2">
                        multiple genes because genes are close or overlap
                    </option>
                    <option {% if request.args.get('gene_type') == '3' %}selected="selected"{% endif %} value="3">
                        multiple genes because variant is large
                    </option>
                </select>
                <label>
                    <input
                        {% if request.args.get('original_genes') %} checked="checked" {% endif %}
                        name="original_genes"
                        type="checkbox"
                        value="1"
                    />
                    Distinguish antisense genes from sense genes
                </label>
            </td>
        </tr>
    {% endif %}
    {% if original_terms_filter %}
        <tr>
            <td colspan="4">
                <label>
                    <input
                        {% if request.args.get('original_terms') %} checked="checked" {% endif %}
                        name="original_terms"
                        type="checkbox"
                        value="1"
                    />
                    Show significances as they were submitted (without aggregation into standard terms)
                </label>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="2"><input type="submit" value="Apply filters"/></td>
        <td colspan="2" style="text-align:right">
            ClinVar version:
            <select name="date">
                {% for date in dates() %}
                    <option {% if request.args.get('date') == date %} selected="selected" {% endif %}>
                        {{ date }}
                    </option>
                {% endfor %}
            </select>
        </td>
    </tr>
</table>
