<p>
    If a variant has more than one submission, it may be counted in more than one significance column. If this is the
    case, the total number of variants will be less than the sum of the other cells.
</p>
<table class="breakdown table table-bordered table-striped">
    <thead>
        <tr>
            {% for significance in overview %}
                <th>{{ significance }}</th>
            {% endfor %}
            <th>total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for significance, count in overview.items() %}
                {% if count %}
                    <td class="highlight">
                        <a href="{{ request.base_url }}/significance/{{ significance|superescaped }}{{ request|querysuffix }}">
                            {{ count }}
                        </a>
                    </td>
                {% else %}
                    <td>0</td>
                {% endif %}
            {% endfor %}
            {% if total_variants %}
                <td class="highlight">
                    <a href="{{ request.base_url }}/significance/any{{ request|querysuffix }}">
                        {{ total_variants }}
                    </a>
                </td>
            {% else %}
                <td>0</td>
            {% endif %}
        </tr>
    </tbody>
</table>
