<table class="overview table table-bordered table-striped">
    <thead>
        <tr>
            {% for significance in overview %}
                <th>{{ significance }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for significance, count in overview.items() %}
                {% if count %}
                    <td class="highlight">{{ count }}</td>
                {% else %}
                    <td>0</td>
                {% endif %}
            {% endfor %}
        </tr>
    </tbody>
</table>
