<table class="sortable table" id="variant-table">
    <thead>
        <tr>
            <th>HGVS</th>
            <th>dbSNP</th>
            <th class="desc">gnomAD frequency</th>
        </tr>
    </thead>
    <tbody>
        {% for row in variants %}
            <tr>
                <td>
                    <a href="submissions-by-variant/{{ row['variant_name']|superescaped + query_suffix(['date']) }}">
                        {{ row['variant_name']|extrabreaks|safe }}
                    </a>
                </td>
                <td>
                    {% if row['rsid'] %}
                        rs{{ row['rsid'] }}
                    {% endif %}
                </td>
                <td>
                    {% if row['variant_frequency'] %}
                        {{ '{:.5f}'.format(row['variant_frequency']) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
