<table class="sortable table" style="width:auto">
    <thead>
        <tr>
            <th>HGVS</th>
            <th>dbSNP</th>
        </tr>
    </thead>
    <tbody>
        {% for row in variants %}
            <tr>
                <td>
                    <a href="submissions-by-variant/{{ row['variant_name']|superescaped }}">
                        {{ row['variant_name']|extrabreaks|safe }}
                    </a>
                </td>
                <td>{{ row['variant_rsid'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
