<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
                ClinVar Miner - {{ title }}
            {% else %}
                ClinVar Miner
            {% endif %}
        </title>

        <base href="{{ request.script_root }}/"/>

        <script type="application/javascript" src="static/d3.js"></script>
        <script src="static/jquery-3.1.1.js" type="application/javascript"></script>
        <script src="static/jquery.tablesorter.js" type="application/javascript"></script>
        <link href="static/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="static/global.css" rel="stylesheet" type="text/css"/>

        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="top-stripe">
            <div><a href="">ClinVar Miner</a></div>
        </div>
        <div style="display:flex">
            <div class="container">
                <h1>{% block title %}{{ title }}{% endblock %}</h1>
                <div id="content">{% block content %}{% endblock %}</div>
            </div>
        </div>
        <script>
            $('.sortable').tablesorter({sortList: [[0, 0]]});
        </script>
    </body>
</html>
