<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
                {{ title }} - ClinVar Miner
            {% else %}
                ClinVar Miner
            {% endif %}
        </title>

        <base href="{{ request.url_root }}"/>

        <script type="application/javascript" src="static/d3.js"></script>
        <script src="static/jquery-3.1.1.js" type="application/javascript"></script>
        <script src="static/jquery.tablesorter.js" type="application/javascript"></script>
        <link href="static/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="static/global.css" rel="stylesheet" type="text/css"/>

        {% block head %}{% endblock %}
    </head>
    <body>
        <table id="top-stripe">
            <tr>
                <td>
                    <a href="">ClinVar Miner</a>
                </td>
                <td>
                    <form action="/search" method="get">
                        <input accesskey="f" name="q" placeholder="Search by gene, HGVS, rsID, etc." type="text"/>
                        <input type="submit" value=" "/>
                    </form>
                </td>
            </tr>
        </table>
        <div style="display:flex">
            <div class="container">
                <h1>{% block title %}{{ title }}{% endblock %}</h1>
                <div id="content">{% block content %}{% endblock %}</div>
            </div>
        </div>
        <script>
            $('.sortable').tablesorter({
                /* the default class names are backwards */
                cssAsc: 'desc',
                cssDesc: 'asc',
            });
        </script>
    </body>
</html>
