<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            {% if title %}
                {{ title|striptags }} -
            {% endif %}
            ClinVar Miner
        </title>

        <base href="{{ request.url_root }}"/>

        <!-- copied from https://www.clinicalgenome.org/site/assets/files/6091/flashlight.200x200.png -->
        <link href="static/flashlight.png" rel="icon" type="image/png"/>

        <script type="application/javascript" src="static/d3.js"></script>
        <script src="static/jquery-3.1.1.js" type="application/javascript"></script>
        <script src="static/jquery.tablesorter.js" type="application/javascript"></script>
        <link href="static/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="static/global.css" rel="stylesheet" type="text/css"/>

        {% block head %}{% endblock %}
    </head>
    <body>
        <table id="top-stripe">
            <tr>
                <td>
                    <a href="">ClinVar Miner</a>
                </td>
                <td>
                    <form action="search" class="search" method="get">
                        <input
                            accesskey="f"
                            class="search-box"
                            name="q"
                            placeholder="Search by gene, HGVS, rsID, etc."
                            type="text"
                        />
                        <input class="search-icon" type="submit" value=" "/>
                    </form>
                </td>
            </tr>
        </table>
        <div class="container">
            {% if title %}
                <h1>{{ title }}</h1>
                {% block tagline %}{% endblock %}
            {% endif %}
            <div id="content">{% block content %}{% endblock %}</div>
            <p>
                <!-- adapted from https://www.ncbi.nlm.nih.gov/clinvar/ -->
                The information on this website is not intended for direct
                diagnostic use or medical decision-making without review by a
                genetics professional. Individuals should not change their
                health behavior solely on the basis of information contained on
                this website. Neither the University of Utah nor the National
                Institutes of Health independently verfies the submitted
                information. If you have questions about the information
                contained on this website, please see a health care
                professional.
            </p>
        </div>
        <script src="static/global.js" type="application/javascript"></script>
        <!-- StatCounter -->
        <script type="application/javascript">
            var sc_project=11682323;
            var sc_invisible=1;
            var sc_security="1ab5340c";
        </script>
        <script type="application/javascript" src="https://www.statcounter.com/counter/counter.js" async="async">
        </script>
    </body>
</html>
