.breakdown td {
    text-align: center;
    vertical-align: middle !important;
}

.breakdown td:hover, .summary td:hover, .sortable td:hover {
    background-color: lightblue !important;
}

.breakdown td a, .summary td a {
    color: #337AFF !important;
}

.breakdown thead tr th, .summary thead tr th {
    vertical-align: top;
}

.breakdown a:not(.external), .sortable a:not(.external) {
    display: block;
}

.external {
    /* adapted from https://commons.wikimedia.org/wiki/File:Icon_External_Link.svg */
    background-image: url(external-link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 1.1em 1.1em;
    padding-right: 1.1em;
}

.filterable td:first-child {
    text-align: center !important;
}

.filterable td:nth-child(2) {
    text-align: left;
}

.internal {
    display: none;
}

.highlight {
    background-color: #FFEEAA;
}

.level0-conflict {
    background-color: #AAFFAA;
}

.level1-conflict {
    background-color: #BFF7AA;
}

.level2-conflict {
    background-color: #D1EEAA;
}

.level3-conflict {
    background-color: #E2E6AA;
}

.level4-conflict {
    background-color: #F1DDAA;
}

.level5-conflict {
    background-color: #FFD4AA;
}

.panel {
    display: inline-block;
    margin-top: 2em;
    margin-right: 4em;
    margin-bottom: 2em;
    vertical-align: top;
    width: 20em;
}

.panel-heading {
    font-weight: bold;
}

.simple-numeric {
    width: auto;
}

.simple-numeric td:first-child {
    text-align: left;
}

.simple-numeric td {
    text-align: right;
}

.sortable thead th {
    cursor: pointer;
}

.sortable th.asc::after {
    content: '\a0▲';
}

.sortable th.desc::after {
    content: '\a0▼';
}

.summary td {
    text-align: right;
}

.tagline {
    color: #777;
    font-size: medium;
    margin-bottom: 10px;
}

.totals {
    margin-bottom: 10px;
}

.totals td {
    padding: 8px;
}

#top-stripe {
    /* adapted from http://variantexplorer.org/img/clingen-bg.jpg */
    background: url(clingen-stripe.png);
    background-repeat: repeat-x;
    vertical-align: middle;
    width: 100%;
}

#top-stripe a {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    opacity: 0.5;
    padding-left: 10px;
}

#top-stripe form {
    background-color: white;
    border: 1px solid #AAA;
    float: right;
    margin-right: 0.8ex;
    padding: 2px;
}

#top-stripe input {
    background-color: white;
    border: none;
    padding: 1px
}

#top-stripe input[type=text] {
    width: 30ex;
}

#top-stripe input[type=text]:focus {
    outline: none;
}

#top-stripe input[type=submit] {
    /* adapted from https://phabricator.wikimedia.org/source/mediawiki/browse/master/resources/lib/oojs-ui/themes/wikimediaui/images/indicators/search-ltr.svg */
    background-image: url(search.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 1.1em;
    width: 1.5em;
}

*:hover > .internal {
    display: inline;
}

form > .table > tbody > tr > td {
    vertical-align: middle;
}
