.breakdown td {
    text-align: center;
    vertical-align: middle !important;
}

.breakdown td:hover, .summary td:hover, .sortable td:hover {
    background-color: lightblue !important;
}

.breakdown a, .summary a, .sortable a {
    display: block;
}

.conflict {
    background-color: #FFEEAA;
}

.sortable th {
    cursor: pointer;
}

.sortable th.headerSortDown::after {
    content: ' ▲';
}

.sortable th.headerSortUp::after {
    content: ' ▼';
}

.summary td a {
    display: block;
    text-align: right;
}

#top-stripe {
    background: url(clingen-stripe.png);
    background-repeat: repeat-x;
}

#top-stripe > div {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    opacity: 0.5;
    padding-left: 10px;
    vertical-align: middle;
}
