.breakdown td {
    text-align: center;
    vertical-align: middle !important;
}

.breakdown td:hover, .summary td:hover, .sortable td:hover {
    background-color: lightblue !important;
}

.breakdown a:not(.external), .summary a:not(.external), .sortable a:not(.external) {
    display: block;
}

.external {
    /* adapted from https://commons.wikimedia.org/wiki/File:Icon_External_Link.svg */
    background-image: url(external-link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 1.1em 1.1em;
    padding-right: 1.1em;
}

.internal {
    display: none;
}

.highlight {
    background-color: #FFEEAA;
}

.overview td {
    text-align: center;
}

.sortable thead th {
    cursor: pointer;
}

.sortable th.headerSortDown::after {
    content: ' ▲';
}

.sortable th.headerSortUp::after {
    content: ' ▼';
}

.summary td {
    text-align: right;
}

#top-stripe {
    background: url(clingen-stripe.png);
    background-repeat: repeat-x;
}

#top-stripe > div {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    opacity: 0.5;
    padding-left: 10px;
    vertical-align: middle;
}

*:hover > .internal {
    display: inline;
}
