.summary td a {
    display: block;
    text-align: right;
}

.breakdown td {
    text-align: center;
    vertical-align: middle !important;
}

.breakdown td:hover, .summary td:hover {
    background-color: lightblue !important;
}

.sortable th {
    cursor: pointer;
}

.sortable th.headerSortUp::after {
    content: ' ▼';
}

.sortable th.headerSortDown::after {
    content: ' ▲';
}
