<h2>Trait and significance breakdown</h2>
<table class="breakdown sortable table table-bordered table-striped">
    <thead>
        <tr>
            <th>Trait</th>
            {% for significance in significances %}
                <th>{{ significance }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for trait_name in breakdown_by_trait_and_significance %}
            <tr>
                <th>{{ trait_link(breakdown_by_trait_and_significance[trait_name]['db'], breakdown_by_trait_and_significance[trait_name]['id'], trait_name)|safe }}</th>
                {% for significance in significances %}
                    {% if breakdown_by_trait_and_significance[trait_name]['counts'][significance] %}
                        <td class="highlight">
                            <a href="{{ base_url }}/trait/{{ trait_name }}/{{ significance|quotepath }}{{ request|querysuffix }}">
                                {{ breakdown_by_trait_and_significance[trait_name]['counts'][significance] }}
                            </a>
                        </td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
