{% extends 'skin.html' %}
{% set title = 'Conflicts by submitter' %}
{% block content %}
    <table class="sortable table" style="width:auto">
        <thead>
            <tr>
                <th>Submitter</th>
                <th style="text-align:right">Conflicting submissions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in total_conflicting_submissions_by_submitter %}
                <tr>
                    <td>
                        <a href="conflicts-by-submitter/{{ row['submitter_id'] }}">{{ row['submitter_name'] }}</a>
                    </td>
                    <td style="text-align:right">{{ row['count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
