{% extends 'skin.html' %}
{% block content %}
    <table class="sortable table" style="width:auto">
        <thead>
            <tr>
                <th>Gene</th>
                <th style="text-align:right">Conflicting submissions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in total_conflicts_by_gene  %}
                <tr>
                    <td>
                        <a href="conflicting-submissions-by-gene/{{ row['gene_symbol']|quotepath }}">
                            {{ row['gene_symbol'] }}
                        </a>
                    </td>
                    <td style="text-align:right">{{ row['count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
