{% extends 'extend/skin.html' %}
{% set title = 'Conflicting variants by condition' %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set method1_label = 'Collection method' %}
        {% include 'include/filter.html' %}
    {% endwith %}
    <p>Total conditions with conflicts: {{ summary|length }}</p>
    {% if summary %}
        <table class="sortable summary table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Condition</th>
                    <th>Variants with no conflict</th>
                    <th>Variants with a synonymous conflict<br/>(e.g. benign vs non-pathogenic)</th>
                    <th>Variants with a confidence conflict<br/>(e.g. benign vs likely benign)</th>
                    <th>Variants with a benign vs uncertain conflict</th>
                    <th>Variants with a category conflict<br/>(e.g. benign vs affects)</th>
                    <th>Variants with a clinically significant conflict<br/>(e.g. benign vs pathogenic)</th>
                    <th class="desc">Variants with any kind of conflict</th>
                </tr>
            </thead>
            <tbody>
                {% for condition_name, row in summary.items() %}
                    <tr>
                        <th>{{ condition_link(row['db'], row['id'], condition_name)|safe }}</th>
                        {% for i in range(0, 6) %}
                            {% if row[i] %}
                                <td class="highlight">{{ row[i] }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                        {% endfor %}
                        <td class="highlight">{{ row['any_conflict'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
