{% extends 'skin.html' %}
{% set title = 'Conflicting variants between ' + submitter1_info['name'] + ' and ' + submitter2_info['name'] %}
{% block title %}
    Conflicting variants between {{ submitter_link(submitter1_info['id'], submitter1_info['name'])|safe }} and
    {{ submitter_link(submitter2_info['id'], submitter2_info['name'])|safe }}
{% endblock %}
{% block content %}
    {% with %}
        {% set header = 'Compare variants from ' + submitter1_info['name'] + ' to variants from ' + submitter2_info['name'] + ' that have' %}
        {% set corrected_terms_filter = True %}
        {% include 'filter.html' %}
    {% endwith %}
    {% include 'breakdown.html' %}
{% endblock %}
