{% extends 'extend/skin.html' %}
{% set title = 'Conflicting variants by submitter' %}
{% set min_conflict_level = int_arg('min_conflict_level') %}
{% block content %}
    <form action="" autocomplete="off">
        {% with %}
            {% set review_status1_label = 'Minimum review status of the submitter\'s submission' %}
            {% set method1_label = 'Collection method of the submitter\'s submission' %}
            {% set review_status2_label = 'Minimum review status of the other submitter\'s submission' %}
            {% set method2_label = 'Collection method of the other submitter\'s submission' %}
            {% set min_conflict_level_filter = 'high_only' %}
            {% include 'include/filter.html' %}
        {% endwith %}
        {% include 'include/conflict-overview.html' %}
        <p>Total submitters with conflicts: {{ summary|length }}</p>
        {% if summary %}
            <table class="filterable sortable summary table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Filter</th>
                        <th>Submitter</th>
                        {% with sorted = True %}
                            {% include 'include/conflict-headers.html' %}
                        {% endwith %}
                    </tr>
                </thead>
                <tbody>
                    {% for submitter_id, submitter_summary in summary.items() %}
                        <tr>
                            <td>
                                <input
                                    {% if submitter_id|string in request.args.getlist('submitters') %}
                                        checked="checked"
                                    {% endif %}
                                    name="submitters"
                                    type="checkbox"
                                    value="{{ submitter_id }}"
                                />
                            </td>
                            <th>
                                <a href="conflicting-variants-by-submitter/{{ submitter_id }}{{ query_suffix('min_conflict_level') }}">
                                    {{ submitter_summary['name'] }}
                                </a>
                            </th>
                            {% if submitter_summary[-1] %}
                                <td class="level{{ 0 }}-conflict">{{ submitter_summary[-1] }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% if submitter_summary[0] %}
                                <td class="level{{ 0 }}-conflict">{{ submitter_summary[0] }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% for i in range(1, 6) %}
                                {% if min_conflict_level <= i %}
                                    {% if i in submitter_summary %}
                                        <td class="level{{ i }}-conflict">{{ submitter_summary[i] }}</td>
                                    {% else %}
                                        <td>0</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <td class="highlight">
                                <a href="conflicting-variants-by-submitter/{{ submitter_id }}{{ query_suffix('min_conflict_level') }}">
                                    {{ submitter_summary['any_conflict'] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock %}
