    {% if not conflicts %}
        No conflicts
    {% else %}
        <table id="conflic" class="sortable table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Preferred name</th>
                    <th>Submitter 1</th>
                    <th>RCV</th>
                    <th>SCV</th>
                    <th>Clinical significance</th>
                    <th>Last evaluated</th>
                    <th>Review status</th>
                    <th>Method</th>
                    <th>Submitter 2</th>
                    <th>RCV</th>
                    <th>SCV</th>
                    <th>Clinical significance</th>
                    <th>Last evaluated</th>
                    <th>Review status</th>
                    <th>Method</th>
                </tr>
            </thead>
            <tbody>
                {% for conflict in conflicts %}
                    <tr>
                        <td>{{ variant_link(conflict['ncbi_variation_id'], conflict['preferred_name'])|safe }}</td>
                        <td>{{ submitter_link(conflict['submitter1_id'], conflict['submitter1_name'])|safe }}</td>
                        <td>{{ conflict['rcv1']|rcvlink|safe }}</td>
                        <td>{{ conflict['scv1'] }}</td>
                        <td>{{ conflict['clin_sig1'] }}</td>
                        <td>{{ conflict['last_eval1'] }}</td>
                        <td>{{ conflict['review_status1'] }}</td>
                        <td>{{ conflict['method1'] }}</td>
                        <td>{{ submitter_link(conflict['submitter2_id'], conflict['submitter2_name'])|safe }}</td>
                        <td>{{ conflict['rcv2']|rcvlink|safe }}</td>
                        <td>{{ conflict['scv2'] }}</td>
                        <td>{{ conflict['clin_sig2'] }}</td>
                        <td>{{ conflict['last_eval2'] }}</td>
                        <td>{{ conflict['review_status2'] }}</td>
                        <td>{{ conflict['method2'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="static/jquery-3.1.1.js" type="application/javascript"></script>
        <script src="static/jquery.tablesorter.js" type="application/javascript"></script>
        <script>
            $('.sortable').tablesorter({sortList: [[0, 0]]});
        </script>
   {% endif %}
