{% extends 'skin.html' %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item" style="font-weight:bold">
            <span style="float:right">Conflicts</span>
            Gene
        </li>
        {% for row in total_conflicts_by_gene %}
            <li class="list-group-item">
                <a href="conflicts-by-gene/{{ row['gene_symbol']|quotepath }}" style="display:block">
                    <span style="float:right">{{ row['count'] }}</span>
                    {{ row['gene_symbol'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
