{% extends 'skin.html' %}
{% block head %}
    <link href="static/tables.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block title %}
    Conflicts between {{ submitter_link(submitter1_info['id'], submitter1_info['name'])|safe }} and
    {{ submitter_link(submitter2_info['id'], submitter2_info['name'])|safe }}
{% endblock %}
{% block content %}
    {% with header = 'Compare variants from ' + submitter1_info['name'] + ' to variants from ' + submitter2_info['name'] + ' that have' %}
        {% include 'variant-filter.html' %}
    {% endwith %}
    <h2>Submitter to submitter conflicts</h2>
    {% include 'conflicts.html' %}
{% endblock %}
