{% extends 'extend/skin.html' %}
{% set title %}
    {% if gene_info['type'] == 0 %}
        Conflicting intergenic variants
    {% elif gene_info['type'] == 1 %}
        Conflicting variants in gene {{ gene_info['name']|genelink|safe }}
    {% else %}
        Conflicting variants in gene combination {{ gene_info['name'] }}
    {% endif %}
{% endset %}
{% block tagline %}
    {{ gene_tagline(gene_info, 'conflicting-variants-by-gene')|safe }}
{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Y axis minimum submission review status' %}
        {% set method1_label = 'Y axis collection method' %}
        {% set review_status2_label = 'X axis minimum submission review status' %}
        {% set method2_label = 'X axis collection method' %}
        {% set min_conflict_level_filter = 'high_only' %}
        {% set gene_type_filter = True %}
        {% set original_genes_filter = True %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    {% with %}
        {% set total_conflicting_variants = variants|length %}
        {% include 'include/conflict-overview.html' %}
    {% endwith %}
    {% if variants %}
        {% with %}
            {% set link_base = request.base_url %}
            {% include 'include/conflict-breakdown.html' %}
        {% endwith %}
        {% include 'include/all-conflicting-variants.html' %}
    {% endif %}
{% endblock %}
