{% extends 'skin.html' %}
{% block content %}
    {% with %}
        {% set original_terms_filter = True %}
        {% set original_terms_disabled = True %}
        {% include 'filter.html' %}
    {% endwith %}
    <p>Total conflicting variants: {{ variants|length }}</p>
    {% if variants %}
        <table class="sortable table" style="width:auto">
            <thead>
                <tr>
                    <th>Variant</th>
                </tr>
            </thead>
            <tbody>
                {% for variant in variants %}
                    <tr>
                        <td>
                            <a href="submissions-by-variant/{{ variant|quotepath }}">
                                {{ variant }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
