{% extends 'skin.html' %}
{% block head %}
    <link href="static/tables.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    {% with header='Compare all variants to variants with' %}
        {% include 'breakdown-filter.html' %}
    {% endwith %}
    <h2>Significance breakdown</h2>
    <p>Total conflicts: {{ total }}</p>
    <table class="breakdown table table-bordered table-condensed table-striped">
        <tr>
            <th></th>
            {% for significance2 in submitter2_significances %}
                <th>{{ significance2 }}</th>
            {% endfor %}
        </tr>
        {% for significance1 in submitter1_significances %}
            <tr>
                <th>{{ significance1 }}</th>
                {% for significance2 in submitter2_significances %}
                    {% if breakdown[significance1].get(significance2, 0) > 0 %}
                        <td style="background-color:coral">
                            <a href="conflicts-by-significance/{{ significance1|quotepath }}/{{ significance2|quotepath }}{{ request|querysuffix }}">
                                {{ breakdown[significance1][significance2] }}
                            </a>
                        </td>
                    {% else %}
                        <td>0</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
