{% extends 'extend/skin.html' %}
{% set title = 'Conflicting variants by gene' %}
{% set min_conflict_level = int_arg('min_conflict_level') %}
{% block content %}
    <form action="" autocomplete="off">
        {% with %}
            {% set review_status1_label = 'Submission 1 minimum review status' %}
            {% set method1_label = 'Submission 1 collection method' %}
            {% set review_status2_label = 'Submission 2 minimum review status' %}
            {% set method2_label = 'Submission 2 collection method' %}
            {% set min_conflict_level_filter = 'high_only' %}
            {% include 'include/filter.html' %}
        {% endwith %}
        {% include 'include/conflict-overview.html' %}
        <div class="totals">
            <div>Total genes with conflicts: {{ summary|length }}</div>
            {% if summary %}
                <div>{{ 'gene-table'|selectlink|safe }}</div>
            {% endif %}
        </div>
        {% if summary %}
            <table class="filterable sortable summary table table-bordered table-striped" id="gene-table">
                <thead>
                    <tr>
                        <th>Filter</th>
                        <th>Gene</th>
                        {% with sorted = True %}
                            {% include 'include/conflict-headers.html' %}
                        {% endwith %}
                    </tr>
                </thead>
                <tbody>
                    {% for gene, gene_summary in summary.items() %}
                        <tr>
                            <td>
                                <input
                                    {% if gene in request.args.getlist('genes') %}
                                        checked="checked"
                                    {% endif %}
                                    name="genes"
                                    type="checkbox"
                                    value="{{ gene }}"
                                />
                            </td>
                            <th>
                                <a href="conflicting-variants-by-gene/{{ gene or 'intergenic' }}{{ query_suffix('min_conflict_level') }}">
                                    {{ gene or '\u200Bintergenic' }}
                                </a>
                            </th>
                            {% if gene_summary[-1] %}
                                <td class="level{{ 0 }}-conflict">{{ gene_summary[-1] }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% if gene_summary[0] %}
                                <td class="level{{ 0 }}-conflict">{{ gene_summary[0] }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                            {% for i in range(1, 6) %}
                                {% if min_conflict_level <= i %}
                                    {% if i in gene_summary %}
                                        <td class="level{{ ([0, i]|sort)[-1] }}-conflict">{{ gene_summary[i] }}</td>
                                    {% else %}
                                        <td>0</td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <td class="highlight">
                                <a href="conflicting-variants-by-gene/{{ gene }}{{ query_suffix('min_conflict_level') }}">
                                    {{ gene_summary['any_conflict'] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock %}
