{% extends 'skin.html' %}
{% set title = 'Conflicting variants by submitter' %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set method1_label = 'Method' %}
        {% include 'filter.html' %}
    {% endwith %}
    <table class="sortable table" style="width:auto">
        <thead>
            <tr>
                <th>Submitter</th>
                <th style="text-align:right">Conflicting variants</th>
            </tr>
        </thead>
        <tbody>
            {% for row in total_conflicting_variants_by_submitter %}
                <tr>
                    <td>
                        <a href="conflicting-variants-by-submitter/{{ row['submitter_id'] }}{{ request|querysuffix }}">
                            {{ row['submitter_name'] }}
                        </a>
                    </td>
                    <td style="text-align:right">{{ row['count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
