{% extends 'extend/skin.html' %}
{% set title %}
    Conflicting variants reported as {{ significance1 }} by
    {{ submitter_link(submitter1_info['id'], submitter1_info['name'])|safe }} and {{ significance2 }} by
    {{ submitter_link(submitter2_info['id'], submitter2_info['name'])|safe }}
{% endset %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status of the submission from ' + submitter1_info['name'] %}
        {% set method1_label = 'Collection method of the submission from ' + submitter1_info['name'] %}
        {% set review_status2_label = 'Minimum review status of the other submission' %}
        {% set method2_label = 'Collection method of the other submission' %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    <div class="totals">
        <div>Total conflicting variants: {{ variants|length }}</div>
        {% if variants %}
            <div>{{ 'variant-table'|tabledownloadlink|safe }}</div>
        {% endif %}
    </div>
    {% if variants %}
        {% include 'include/variants.html' %}
    {% endif %}
{% endblock %}
