{% extends 'extend/skin.html' %}
{% set title = 'Conflicting variants by submitter' %}
{% block content %}
    <form action="" autocomplete="off">
        {% with %}
            {% set review_status1_label = 'Minimum review status of the submitter\'s submission' %}
            {% set method1_label = 'Collection method of the submitter\'s submission' %}
            {% set review_status2_label = 'Minimum review status of the other submitter\'s submission' %}
            {% set method2_label = 'Collection method of the other submitter\'s submission' %}
            {% include 'include/filter.html' %}
        {% endwith %}
        {% include 'include/conflict-overview.html' %}
        <p>Total submitters with conflicts: {{ summary|length }}</p>
        {% if summary %}
            <table class="filterable sortable summary table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Filter</th>
                        <th>Submitter</th>
                        <th>Variants with no conflict</th>
                        <th>Variants with a synonymous conflict<br/>(e.g. benign vs non-pathogenic)</th>
                        <th>Variants with a confidence conflict<br/>(e.g. benign vs likely benign)</th>
                        <th>Variants with a benign vs uncertain conflict</th>
                        <th>Variants with a category conflict<br/>(e.g. benign vs affects)</th>
                        <th>Variants with a clinically significant conflict<br/>(e.g. benign vs pathogenic)</th>
                        <th class="desc">Variants with any kind of conflict</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submitter_id, submitter_summary in summary.items() %}
                        <tr>
                            <td>
                                <input
                                    {% if submitter_id|string in request.args.getlist('submitters') %}
                                        checked="checked"
                                    {% endif %}
                                    name="submitters"
                                    type="checkbox"
                                    value="{{ submitter_id }}"
                                />
                            </td>
                            <th>
                                <a href="conflicting-variants-by-submitter/{{ submitter_id }}{{ request|querysuffix }}">
                                    {{ submitter_summary['name'] }}
                                </a>
                            </th>
                            {% for i in range(0, 6) %}
                                {% if i in submitter_summary %}
                                    <td class="level{{ i }}-conflict">{{ submitter_summary[i] }}</td>
                                {% else %}
                                    <td>0</td>
                                {% endif %}
                            {% endfor %}
                            <td class="highlight">
                                <a href="conflicting-variants-by-submitter/{{ submitter_id }}{{ request|querysuffix }}">
                                    {{ submitter_summary['any_conflict'] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock %}
