{% extends 'extend/skin.html' %}
{% set title = 'Conflicting variants by gene' %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Submission 1 minimum review status' %}
        {% set method1_label = 'Submission 1 collection method' %}
        {% set review_status2_label = 'Submission 2 minimum review status' %}
        {% set method2_label = 'Submission 2 collection method' %}
        {% include 'include/filter.html' %}
    {% endwith %}
    {% include 'include/conflict-counting-note.html' %}
    <p>Total genes with conflicts: {{ summary|length }}</p>
    {% if summary %}
        <table class="sortable summary table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Gene</th>
                    <th>Variants with no conflict</th>
                    <th>Variants with a synonymous conflict<br/>(e.g. benign vs non-pathogenic)</th>
                    <th>Variants with a confidence conflict<br/>(e.g. benign vs likely benign)</th>
                    <th>Variants with a benign vs uncertain conflict</th>
                    <th>Variants with a category conflict<br/>(e.g. benign vs affects)</th>
                    <th>Variants with a clinically significant conflict<br/>(e.g. benign vs pathogenic)</th>
                    <th class="desc">Variants with any kind of conflict</th>
                </tr>
            </thead>
            <tbody>
                {% for gene, gene_summary in summary.items() %}
                    <tr>
                        <th>{{ gene|genelink|safe or '\u200Bintergenic' }}</th>
                        {% for i in range(0, 6) %}
                            {% if i in gene_summary %}
                                <td class="highlight">{{ gene_summary[i] }}</td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                        {% endfor %}
                        <td class="highlight">
                            <a href="conflicting-variants-by-gene/{{ gene }}{{ request|querysuffix }}">
                                {{ gene_summary['any_conflict'] }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
