{% extends 'skin.html' %}
{% block head %}
    <link href="static/tables.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th>RCV</th>
            <th>Preferred name</th>
            <th>Submitter</th>
            <th>SCV</th>
            <th>Clinical significance</th>
            <th>Last evaluated</th>
            <th>Review status</th>
            <th>Method</th>
        </tr>
        {% for conflict in conflicts %}
            <tr>
                <td>{{ conflict['rcv']|rcvlink|safe }}</td>
                <td>{{ conflict['preferred_name'] }}</td>
                <td>{{ conflict['submitter_name'] }}</td>
                <td>{{ conflict['scv'] }}</td>
                <td>{{ conflict['clin_sig'] }}</td>
                <td>{{ conflict['last_eval'] }}</td>
                <td>{{ conflict['review_status'] }}</td>
                <td>{{ conflict['method'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
