{% extends 'skin.html' %}
{% set title = 'Conflicts between ' + significance1 + ' variants from ' + submitter1_info['name'] + ' and ' + significance2 + ' variants from ' + submitter2_info['name'] %}
{% block title %}
    Conflicts between {{ significance1 }} variants from
    {{ submitter_link(submitter1_info['id'], submitter1_info['name'])|safe }} and {{ significance2 }} variants from
    {{ submitter_link(submitter2_info['id'], submitter2_info['name'])|safe }}
{% endblock %}
{% block content %}
    {% with %}
        {% set header = 'Compare ' + significance1 + ' variants from ' + submitter1_info['name'] + ' to ' + significance2 + ' variants from ' + submitter2_info['name'] + ' that have' %}
        {% set conflicts_only = True %}
        {% include 'submission-filter.html' %}
    {% endwith %}
    <h2>Submitter to submitter conflicts</h2>
    {% include 'conflicts.html' %}
{% endblock %}
