{% extends 'extend/skin.html' %}
{% set title %}
    Conflicting variants in gene {{ gene|genelink|safe }}
{% endset %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Y axis minimum submission review status' %}
        {% set method1_label = 'Y axis collection method' %}
        {% set review_status2_label = 'X axis minimum submission review status' %}
        {% set method2_label = 'X axis collection method' %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    {% with %}
        {% set total_conflicting_variants = variants|length %}
        {% include 'include/conflict-overview.html' %}
    {% endwith %}
    {% if variants %}
        {% with %}
            {% set link_base = 'conflicting-variants-by-gene/' + gene|superescaped %}
            {% include 'include/conflict-breakdown.html' %}
        {% endwith %}
        {% include 'include/all-conflicting-variants.html' %}
    {% endif %}
{% endblock %}
