{% extends 'skin.html' %}
{% set title = 'Home' %}
{% block head %}
    <style type="text/css">
        .navlinks {
            width: 400px;
        }

        .navlinks a {
            display: block;
            padding: 10px 0;
        }
    </style>
{% endblock %}
{% block content %}
    <p>Welcome to the ClinVar Miner website!</p>

    <p>
        The content on this site is current as of {{ max_date.strftime('%B %Y') }}. At that time, there were
        {{ '{:,}'.format(total_submissions) }} submissions on {{ '{:,}'.format(total_variants) }} variants.
    </p>

    <div class="navlinks">
        <a href="total-submissions-by-method">Total submissions by method</a>
        <a href="total-submissions-by-country">Total submissions by country</a>
        <a href="conflicting-variants-by-significance">Conflicting variants by significance</a>
        <a href="conflicting-variants-by-submitter">Conflicting variants by submitter</a>
        <a href="variants-by-gene">Variants by gene</a>
        <a href="variants-by-trait">Variants by trait</a>
        <a href="variants-by-submitter">Variants by submitter</a>
        <a href="significance-terms">Significance terms</a>
    </div>
{% endblock %}
