{% extends 'extend/skin.html' %}
{% block head %}
    <style type="text/css">
        .navlinks {
            width: 400px;
        }

        .navlinks a {
            display: block;
            padding: 10px 0;
        }
    </style>

    <meta name="google-site-verification" content="Yua3q7_WAK_AYNpW4QPr7G-slC_9dexqiqeBQ3p8IaU"/>
{% endblock %}
{% block content %}
    <h1>Welcome to the ClinVar Miner website!</h1>

    <p>
        The content on this site is current as of {{ max_date.strftime('%B %Y') }}. At that time,
        <a class="external" href="https://www.ncbi.nlm.nih.gov/clinvar/">ClinVar</a> had
        {{ '{:,}'.format(total_submissions) }} submissions on {{ '{:,}'.format(total_variants) }} variants.
    </p>

        <div class="panel panel-primary">
            <div class="panel-heading">Data exploration</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="variants-by-significance">Variants by significance</a>
                </li>
                <li class="list-group-item">
                    <a href="variants-by-gene">Variants by gene</a>
                </li>
                <li class="list-group-item">
                    <a href="variants-by-condition">Variants by condition</a>
                </li>
                <li class="list-group-item">
                    <a href="variants-by-submitter">Variants by submitter</a>
                </li>
            </ul>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Conflict exploration</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="conflicting-variants-by-significance">Conflicting variants by significance</a>
                </li>
                <li class="list-group-item">
                    <a href="conflicting-variants-by-gene">Conflicting variants by gene</a>
                </li>
                <li class="list-group-item">
                    <a href="conflicting-variants-by-condition">Conflicting variants by condition</a>
                </li>
                <li class="list-group-item">
                    <a href="conflicting-variants-by-submitter">Conflicting variants by submitter</a>
                </li>
            </ul>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">High-level trends</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="total-submissions-by-method">Total submissions by method</a>
                </li>
                <li class="list-group-item">
                    <a href="total-submissions-by-country">Total submissions by country</a>
                </li>
                <li class="list-group-item">
                    <a href="significance-terms">Significance terms</a>
                </li>
            </ul>
        </div>
{% endblock %}
