{% extends 'extend/skin.html' %}
{% set title = 'Significance terms' %}
{% block head %}
    <script src="static/line-graph.js" type="application/javascript"></script>
    <link href="static/line-graph.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <p>The following graph shows the number of distinct terms from SCVs (not RCVs) over time.</p>
    <svg id="graph"></svg>
    <script type="application/javascript">
        var data = {{ total_significance_terms_over_time|tojson }};
        var parseTime = d3.timeParse("%Y-%m");
        data = data.map(function(d) {
            return {
                x: parseTime(d.date),
                y: d.count,
                serie: 'terms',
            }
        });
        lineGraph(data, 'Terms', 10);
    </script>
    <p>All terms in the following table are from SCVs (not RCVs) in the current ClinVar.</p>
    <table class="sortable table">
        <thead>
            <tr>
                <th>Significance term</th>
                <th class="desc">First seen</th>
            </tr>
        </thead>
        <tbody>
            {% for row in significance_term_info if row['last_seen'] == max_date %}
                <tr>
                    <td>
                        <a href="variants-by-significance/{{ row['significance']|superescaped }}?original_terms=1">
                            {{ row['significance'] or '\u200B' }}
                        </a>
                    </td>
                    <td>{{ row['first_seen'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>The following terms were in SCVs in old versions of ClinVar, but are not currently used.</p>
    <table class="sortable table">
        <thead>
            <tr>
                <th>Significance term</th>
                <th>First seen</th>
                <th>Last seen</th>
            </tr>
        </thead>
        <tbody>
            {% for row in significance_term_info if row['last_seen'] != max_date %}
                <tr>
                    <td>{{ row['significance'] }}</td>
                    <td>{{ row['first_seen'] }}</td>
                    <td>{{ row['last_seen'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
