{% extends 'extend/skin.html' %}
{% set title = 'Submitters of ' + term + ' variants' %}
{% block content %}
    <p>Total submitters: {{ total_variants_by_submitter|length }}</p>
    <table class="simple-numeric sortable table">
        <thead>
            <tr>
                <th>Submitter</th>
                <th>Variants</th>
            </tr>
        </thead>
        <tbody>
            {% for row in total_variants_by_submitter %}
                <tr>
                    <td>{{ submitter_link(row['submitter_id'], row['submitter_name'])|safe }}</td>
                    <td>
                        <a href="variants-by-submitter/{{ row['submitter_id'] }}/significance/{{ term }}?original_terms=1">
                            {{ row['count'] }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
