{% extends 'skin.html' %}
{% block content %}
    <p>All terms in the following table are from SCVs (not RCVs) in the current ClinVar.</p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Significance term</th>
            <th>First seen</th>
        </tr>
        {% for row in significance_term_info %}
            <tr>
                <td>{{ row['clin_sig'] }}</td>
                <td>{{ row['first_seen'] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
