<!DOCTYPE html>
<html>
    <head>
        <title>ClinVar Data Visualization - {{ title }}</title>

        <base href="{{ request.script_root }}/"/>

        <script type="application/javascript" src="static/d3.js"></script>
        <link href="static/bootstrap.css" rel="stylesheet" type="text/css"/>
        <style type="text/css">
            #top-stripe {
                background: url(static/clingen-stripe.png);
                background-repeat: no-repeat;
            }

            #top-stripe > div {
                font-size: 25px;
                font-weight: bold;
                line-height: 40px;
                opacity: 0.3;
                padding-right: 10px;
                text-align: right;
                vertical-align: middle;
            }

        </style>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="top-stripe">
            <div>ClinVar Data Visualization</div>
        </div>
        <div style="display:flex">
            <div>
                <ul class="nav nav-pills nav-stacked" style="width:250px">
                    <li><a href="">Home</a></li>
                    <li><a href="total-submissions-by-method">Total Submissions by Method</a></li>
                    <li><a href="total-conflicting-submissions-by-method">Total Conflicting Submissions by Method</a></li>
                    <li><a href="conflicts-by-submitter">Conflicts by Submitter</a></li>
                    <li><a href="conflicts-by-significance">Conflicts by Significance</a></li>
                    <li><a href="conflicting-submissions-by-gene">Conflicting Submissions by Gene</a></li>
                    <li><a href="significance-terms">Significance Terms</a></li>
                </ul>
            </div>
            <div class="container">
                <h1>{% block title %}{{ title }}{% endblock %}</h1>
                <div id="content">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </body>
</html>
