<!DOCTYPE html>
<html>
    <head>
        <title>ClinVar Data Visualization - {{ title }}</title>

        <base href="{{ request.script_root }}/"/>

        <script type="application/javascript" src="static/d3.js"></script>
        <link href="static/bootstrap.css" rel="stylesheet" type="text/css"/>
        <style type="text/css">
            #top-stripe {
                background: url(static/clingen-stripe.png);
                background-repeat: repeat-x;
            }

            #top-stripe > div {
                font-size: 25px;
                font-weight: bold;
                line-height: 40px;
                opacity: 0.5;
                padding-right: 10px;
                text-align: right;
                vertical-align: middle;
            }

        </style>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="top-stripe">
            <div><a href="">ClinVar Data Visualization</a></div>
        </div>
        <div style="display:flex">
            <div class="container">
                <h1>{% block title %}{{ title }}{% endblock %}</h1>
                <div id="content">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </body>
</html>
