{% extends 'extend/skin.html' %}
{% set title %}
    Submissions for variant {{ variant_link(variant_info['id'], variant_info['name'], variant_info['rsid'])|safe }}
{% endset %}
{% block head %}
    <script src="static/jquery-3.1.1.js" type="application/javascript"></script>
    <script src="static/jquery.tablesorter.js" type="application/javascript"></script>
{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set method1_label = 'Collection method' %}
        {% set min_conflict_level_filter = True %}
        {% include 'include/filter.html' %}
    {% endwith %}
    <p>Total submissions: {{ submissions|length }}</p>
    {% if submissions %}
        <table class="sortable table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Submitter</th>
                    <th>RCV</th>
                    <th>SCV</th>
                    <th>Clinical significance</th>
                    <th>Condition</th>
                    <th>Last evaluated</th>
                    <th>Review status</th>
                    <th>Method</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td>{{ submitter_link(submission['submitter_id'], submission['submitter_name'])|safe }}</td>
                        <td>{{ submission['rcv']|rcvlink|safe }}</td>
                        <td>{{ submission['scv'] }}</td>
                        <td>{{ submission['significance'] }}</td>
                        <td>{{ condition_link(submission['condition_db'], submission['condition_id'], submission['condition_name'])|safe }}</td>
                        <td>{{ submission['last_eval'] }}</td>
                        <td>{{ submission['review_status'] }}</td>
                        <td>{{ submission['method'] }}</td>
                        <td>{{ submission['comment'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
