{% extends 'skin.html' %}
{% set title = 'Submissions by gene' %}
{% block content %}
    {% with header='Include submissions that have' %}
        {% include 'submission-filter.html' %}
    {% endwith %}
    <table class="sortable table" style="width:auto">
        <thead>
            <tr>
                <th>Gene</th>
                <th style="text-align:right">Submissions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in total_submissions_by_gene  %}
                <tr>
                    <td>
                        <a href="submissions-by-gene/{{ row['gene_symbol']|quotepath }}{{ request|querysuffix }}">
                            {{ row['gene_symbol'] }}
                        </a>
                    </td>
                    <td style="text-align:right">{{ row['count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
