{% extends 'skin.html' %}
{% set title = 'Total conflicting submissions by method' %}
{% block head %}
    <script src="static/line-graph.js" type="application/javascript"></script>
    <link href="static/line-graph.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <svg id="graph"></svg>
    <script type="application/javascript">
        var data = {{ total_conflicting_submissions_by_method_over_time|tojson }};
        var parseTime = d3.timeParse("%Y-%m");
        data = data.map(function(d) {
            return {
                x: parseTime(d.date),
                y: d.count,
                serie: d.method,
            }
        });
        lineGraph(data, 'Conflicts', [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000]);
    </script>
{% endblock %}
