{% extends 'extend/skin.html' %}
{% set title = 'Total submissions by country' %}
{% block head %}
    <script src="static/d3-scale-chromatic.js" type="application/javascript"></script>
    <script src="static/topojson.v2.js" type="application/javascript"></script>
    <style type="text/css">
        path:hover {
            fill: lightblue;
        }
    </style>
{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set method1_label = 'Collection method' %}
        {% set min_conflict_level_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    <svg id="map"></svg>
    <script type="application/javascript">
        var width = '100%', height = 500;
        var data = {{ total_submissions_by_country|tojson }};
        var totals = {};
        data.forEach((d) => {
            totals[d.country_code] = d.count;
        });

        var projection = d3.geoEquirectangular();
        var path = d3.geoPath().projection(projection);
        var color = d3.scaleSequential(d3.interpolatePurples)
            .domain([0, 5])
        var svg = d3.select('#map')
            .attr('width', width)
            .attr('height', height);

        d3.json('static/countries.json', function(error, countries) {
            svg.selectAll('path')
                .data(topojson.feature(countries, countries.objects.units).features)
                .enter()
                .append('path')
                    .attr('d', path)
                    .attr('fill', d => color(totals[d.id] ? Math.log10(totals[d.id]) : 0))
                    .append('title')
                .text(d => d.properties.name + ': ' + (totals[d.id] || 0) + ' submissions');
        });

        var legend = svg.append('g')
            .attr('transform', 'translate(50,' + (height - 200) + ')')
        for (var i = 1; i <= 5; i++) {
            var legendItem = legend.append('g')
                .attr('transform', 'translate(0,' + (15 * i) + ')')

            legendItem.append('path')
                .attr('class', 'line')
                .attr('d', 'M0,-4L20,-4')
                .attr('style', 'stroke-width:5px; stroke:' + color(i));
            legendItem.append('text')
                .attr('transform', 'translate(30,0)')
                .text(Math.pow(10, i));
        }
    </script>
    <div class="totals">
        <div>Total countries: {{ total_submissions_by_country|length }}</div>
        {% if total_submissions_by_country %}
            <div>{{ 'country-table'|tabledownloadlink|safe }}</div>
        {% endif %}
    </div>
    {% if total_submissions_by_country %}
        <table class="simple-numeric sortable table" id="country-table">
            <thead>
                <tr>
                    <th>Country</th>
                    <th class="desc">Submissions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_submissions_by_country %}
                    <tr>
                        <td>
                            <a href="total-submissions-by-country/{{ row['country_code'] }}{{ query_suffix('min_conflict_level') }}">
                                {{ row['country_name'] or '\u200Bunspecified' }}
                            </a>
                        </td>
                        <td>{{ row['count'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
