{% extends 'skin.html' %}
{% block content %}
    <table class="sortable table" style="width:auto">
        <thead>
            <tr>
                <th>Country</th>
                <th>Submissions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in total_submissions_by_country %}
                <tr>
                    <td>
                        <a href="total-submissions-by-country/{{ row['country']|quotepath }}">
                            {{ row['country']|orspace }}
                        </a>
                    </td>
                    <td>{{ row['count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
