{% extends 'extend/skin.html' %}
{% set title = 'Total submissions by country' %}
{% block head %}
    <script src="static/d3-scale-chromatic.js" type="application/javascript"></script>
    <script src="static/topojson.v2.js" type="application/javascript"></script>
{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set method1_label = 'Method' %}
        {% set min_conflict_level_filter = True %}
        {% include 'include/filter.html' %}
    {% endwith %}
    <svg id="map"></svg>
    <script type="application/javascript">
        var width = '100%', height = 500;
        var data = {{ total_submissions_by_country|tojson }};
        var totals = {};
        data.forEach((d) => {
            totals[d.country_code] = d.count;
        });

        var projection = d3.geoEquirectangular();
        var path = d3.geoPath().projection(projection);
        var color = d3.scaleSequential(d3.interpolateBlues)
            .domain([0, 5])
        var svg = d3.select('#map')
            .attr('width', width)
            .attr('height', height);

        d3.json('static/countries.json', function(error, countries) {
            svg.selectAll('path')
                .data(topojson.feature(countries, countries.objects.units).features)
                .enter()
                .append('path')
                .attr('d', path)
                .attr('fill', function(d) { return color(totals[d.id] ? Math.log10(totals[d.id]) : 0); });
        });
    </script>
    <p>Total countries: {{ total_submissions_by_country|length }}</p>
    {% if total_submissions_by_country %}
        <table class="sortable table" style="width:auto">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Submissions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_submissions_by_country %}
                    <tr>
                        <td>
                            <a href="total-submissions-by-country/{{ row['country_code'] }}{{ request|querysuffix }}">
                                {{ row['country_name']|orspace }}
                            </a>
                        </td>
                        <td>{{ row['count'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
