{% extends 'skin.html' %}
{% set title = 'Total submissions by method' %}
{% block head %}
    <script src="static/line-graph.js" type="application/javascript"></script>
    <link href="static/line-graph.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set min_conflict_level_filter = True %}
        {% include 'filter.html' %}
    {% endwith %}
    <svg id="graph"></svg>
    <script type="application/javascript">
        var data = {{ total_submissions_by_standardized_method_over_time|tojson }};
        var parseTime = d3.timeParse("%Y-%m");
        data = data.map(function(d) {
            return {
                x: parseTime(d.date),
                y: d.count,
                serie: d.standardized_method,
            }
        });
        lineGraph(data, 'Submissions', 50000);
    </script>
    <h2>Current submissions</h2>
    <table class="sortable table" style="width:auto">
        <thead>
            <tr>
                <th>Method</th>
                <th>Submissions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in total_submissions_by_method %}
                <tr>
                    <td>{{ row['method'] }}</td>
                    <td>{{ row['count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
