{% extends 'extend/skin.html' %}
{% if country_name %}
    {% set title = 'Total submissions from ' + country_name %}
{% else %}
    {% set title = 'Total submissions from unspecified countries' %}
{% endif %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set method1_label = 'Collection method' %}
        {% set min_conflict_level_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    <div class="totals">
        <div>Total submitters: {{ total_submissions_by_submitter|length }}</div>
        {% if total_submissions_by_submitter %}
            <div>{{ 'submitter-table'|selectlink|safe }}</div>
        {% endif %}
    </div>
    {% if total_submissions_by_submitter %}
        <table class="simple-numeric sortable table" id="submitter-table">
            <thead>
                <tr>
                    <th>Submitter</th>
                    <th class="desc">Submissions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_submissions_by_submitter %}
                    <tr>
                        <td>
                            <a href="variants-by-submitter/{{ row['submitter_id']}}{{ query_suffix('min_conflict_level') }}">{{ row['submitter_name'] }}</a>
                        </td>
                        <td>
                            <a href="variants-by-submitter/{{ row['submitter_id']}}{{ query_suffix('min_conflict_level') }}">{{ row['count'] }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
