{% extends 'extend/skin.html' %}
{% set title = 'Variants by condition' %}
{% block content %}
    <form action="" autocomplete="off">
        {% with %}
            {% set review_status1_label = 'Minimum submission review status' %}
            {% set method1_label = 'Collection method' %}
            {% set min_conflict_level_filter = True %}
            {% include 'include/filter.html' %}
        {% endwith %}
        <table class="totals">
            <tr>
                <td>Total conditions: {{ total_variants_by_condition|length }}</td>
                <td>Total variants: {{ total_variants }}</td>
            </tr>
        </table>
        {% if total_variants %}
            <table class="filterable simple-numeric sortable table">
                <thead>
                    <tr>
                        <th>Filter</th>
                        <th>Condition</th>
                        <th class="desc">Variants</th>
                        <th>Genes</th>
                        <th>Submitters</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in total_variants_by_condition %}
                        <tr>
                            <td>
                                <input
                                    {% if row['condition_name']|string in request.args.getlist('conditions') %}
                                        checked="checked"
                                    {% endif %}
                                    name="conditions"
                                    type="checkbox"
                                    value="{{ row['condition_name'] }}"
                                />
                            </td>
                            <td>
                                <a href="variants-by-condition/{{ row['condition_name']|superescaped }}{{ request|querysuffix }}">
                                    {{ row['condition_name'] }}
                                </a>
                            </td>
                            <td>
                                <a href="variants-by-condition/{{ row['condition_name']|superescaped }}{{ request|querysuffix }}">
                                    {{ row['count'] }}
                                </a>
                            </td>
                            <td>
                                <a href="variants-by-condition/{{ row['condition_name']|superescaped }}{{ request|querysuffix }}#gene-and-significance-breakdown">
                                    {{ row['gene_count'] }}
                                </a>
                            </td>
                            <td>
                                <a href="variants-by-condition/{{ row['condition_name']|superescaped }}{{ request|querysuffix }}#submitter-and-significance-breakdown">
                                    {{ row['submitter_count'] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock %}
