{% extends 'skin.html' %}
{% set title = 'Variants in gene "' + gene + '"' %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set method1_label = 'Method' %}
        {% set min_conflict_level_filter = True %}
        {% set corrected_terms_filter = True %}
        {% include 'filter.html' %}
    {% endwith %}
    <p>Total variants: {{ total }}</p>
    {% if total %}
        <table class="breakdown sortable table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Submitter</th>
                    {% for significance in significances %}
                        <th>{{ significance }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for submitter_id in breakdown %}
                    <tr>
                        <th>{{ submitter_link(submitter_id, breakdown[submitter_id]['name'])|safe }}</th>
                        {% for significance in significances %}
                            {% if breakdown[submitter_id]['counts'][significance] %}
                                <td class="highlight">
                                    <a href="variants-by-gene/{{ gene|quotepath }}/{{ submitter_id }}/{{ significance|quotepath }}{{ request|querysuffix }}">
                                        {{ breakdown[submitter_id]['counts'][significance] }}
                                    </a>
                                </td>
                            {% else %}
                                <td>0</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
