{% if not significance %}
    {% set original_terms_filter = False %}
{% endif %}
{% extends 'extend/variants.html' %}
{% set title %}
    {% if significance %}
        List of variants reported as {{ significance }} for
        {{ condition_link(condition_info['db'], condition_info['id'], condition_info['name'])|safe }}
    {% else %}
        List of variants studied for
        {{ condition_link(condition_info['db'], condition_info['id'], condition_info['name'])|safe }}
    {% endif %}
{% endset %}
