{% extends 'skin.html' %}
{% block content %}
    {% with %}
        {% set header = 'Include submissions that have' %}
        {% set corrected_terms_filter = True %}
        {% set corrected_terms_disabled = True %}
        {% include 'filter.html' %}
    {% endwith %}
    <p>Total variants: {{ variants|length }}</p>
    {% if variants %}
        <table class="sortable table" style="width:auto">
            <thead>
                <tr>
                    <th>Variant</th>
                </tr>
            </thead>
            <tbody>
                {% for row in variants %}
                    <tr>
                        <td>
                            <a href="submissions-by-variant/{{ row['variant_id'] }}{{ request|querysuffix }}">
                                {{ row['variant_name'] }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
