{% extends 'extend/skin.html' %}
{% set title = 'Variants by submitter' %}
{% block content %}
    <form action="" autocomplete="off">
        {% with %}
            {% set review_status1_label = 'Minimum submission review status' %}
            {% set method1_label = 'Collection method' %}
            {% set min_conflict_level_filter = True %}
            {% set gene_filters = True %}
            {% include 'include/filter.html' %}
        {% endwith %}
        {% if total_variants %}
            {{ table_search_box('submitter-table', 'div')|safe }}
        {% endif %}
        <div class="totals">
            <div>Total submitters: {{ total_variants_by_submitter|length }}</div>
            <div>Total variants: {{ total_variants }}</div>
            <div>Total genes and gene combinations: {{ total_genes }}</div>
            <div>Total conditions: {{ total_conditions }}</div>
            {% if total_variants %}
                <div>{{ 'submitter-table'|tabledownloadlink|safe }}</div>
            {% endif %}
        </div>
        {% if total_variants %}
            <table class="filterable simple-numeric sortable table" id="submitter-table">
                <thead>
                    <tr>
                        <th>Filter</th>
                        <th>Submitter</th>
                        <th class="desc">Variants</th>
                        <th>Genes</th>
                        <th>Conditions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in total_variants_by_submitter %}
                        <tr>
                            {% with url = 'variants-by-submitter/' + row['submitter_id']|string + query_suffix(['min_conflict_level', 'original_genes', 'original_terms', 'date']) %}
                                <td>
                                    <input
                                        {% if row['submitter_id']|string in request.args.getlist('submitters') %}
                                            checked="checked"
                                        {% endif %}
                                        name="submitters"
                                        type="checkbox"
                                        value="{{ row['submitter_id'] }}"
                                    />
                                </td>
                                <td>
                                    <a href="{{ url }}">
                                        {{ row['submitter_name'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url }}">
                                        {{ row['count'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url }}#gene-and-significance-breakdown">
                                        {{ row['gene_count'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url }}#condition-and-significance-breakdown">
                                        {{ row['condition_count'] }}
                                    </a>
                                </td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock %}
