{% extends 'extend/variants.html' %}
{% if gene %}
    {% if significance %}
        {% set title = 'List of variants in gene ' + gene + ' reported as ' + significance %}
    {% else %}
        {% set title = 'List of variants in gene ' + gene %}
    {% endif %}
{% else %}
    {% if significance %}
        {% set title = 'List of intergenic variants reported as ' + significance %}
    {% else %}
        {% set title = 'List of intergenic variants' %}
    {% endif %}
{% endif %}
{% block title %}
    {% if gene %}
        {% if significance %}
            List of variants in gene {{ gene|genelink|safe }} reported as {{ significance }}
        {% else %}
            List of variants in gene {{ gene|genelink|safe }}
        {% endif %}
    {% else %}
        {% if significance %}
            List of intergenic variants reported as {{ significance }}
        {% else %}
            List of intergenic variants
        {% endif %}
    {% endif %}
{% endblock %}
