{% extends 'skin.html' %}
{% block content %}
    {% with %}
        {% set header = 'Include submissions that have' %}
        {% set min_conflict_level_filter = True %}
        {% include 'filter.html' %}
    {% endwith %}
    <p>Total variants: {{ total_submissions_by_variant|length }}</p>
    <table class="sortable table" style="width:auto">
        <thead>
            <tr>
                <th>Variant</th>
                <th style="text-align:right">Submissions</th>
            </tr>
        </thead>
        <tbody>
            {% for row in total_submissions_by_variant %}
                <tr>
                    <td>
                        <a href="submissions-by-variant/{{ row['variant_id'] }}{{ request|querysuffix }}">
                            {{ row['variant_name'] }}
                        </a>
                    </td>
                    <td style="text-align:right">{{ row['count'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
