{% extends 'extend/variants.html' %}
{% set title %}
    {% if gene %}
        {% if significance %}
            List of variants in gene {{ gene|genelink|safe }} reported as {{ significance }} for
            {{ condition_link(condition_info['db'], condition_info['id'], condition_info['name'])|safe }}
        {% else %}
            List of variants in gene {{ gene|genelink|safe }} studied for
            {{ condition_link(condition_info['db'], condition_info['id'], condition_info['name'])|safe }}
        {% endif %}
    {% else %}
        {% if significance %}
            List of intergenic variants reported as {{ significance }} for
            {{ condition_link(condition_info['db'], condition_info['id'], condition_info['name'])|safe }}
        {% else %}
            List of intergenic variants studied for
            {{ condition_link(condition_info['db'], condition_info['id'], condition_info['name'])|safe }}
        {% endif %}
    {% endif %}
{% endset %}
