{% extends 'extend/skin.html' %}
{% set title = 'Variants by gene' %}
{% block content %}
    <form action="" autocomplete="off">
        {% with %}
            {% set review_status1_label = 'Minimum review status' %}
            {% set method1_label = 'Collection method' %}
            {% set min_conflict_level_filter = True %}
            {% set gene_type_filter = True %}
            {% include 'include/filter.html' %}
        {% endwith %}
        <div class="totals">
            <div>Total genes and gene combinations: {{ total_variants_by_gene|length }}</div>
            <div>Total variants: {{ total_variants }}</div>
            {% if total_variants %}
                <div>{{ 'gene-table'|tabledownloadlink|safe }}</div>
            {% endif %}
        </div>
        {% if total_variants %}
            <table class="filterable simple-numeric sortable table" id="gene-table">
                <thead>
                    <tr>
                        <th>Filter</th>
                        <th>Gene or gene combination</th>
                        <th class="desc">Variants</th>
                        <th>Conditions</th>
                        <th>Submitters</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in total_variants_by_gene %}
                        <tr>
                            <td>
                                <input
                                    {% if row['gene'] in request.args.getlist('genes') %}checked="checked"{% endif %}
                                    name="genes"
                                    type="checkbox"
                                    value="{{ row['gene'] }}"
                                />
                            </td>
                            <td>
                                <a href="variants-by-gene/{{ row['gene']|superescaped or 'intergenic' }}{{ query_suffix('min_conflict_level', 'gene_type') }}">
                                    {{ row['gene'] or '\u200Bintergenic' }}
                                </a>
                            </td>
                            <td>
                                <a href="variants-by-gene/{{ row['gene']|superescaped or 'intergenic' }}{{ query_suffix('min_conflict_level', 'gene_type') }}">
                                    {{ row['count'] }}
                                </a>
                            </td>
                            <td>
                                <a href="variants-by-gene/{{ row['gene']|superescaped or 'intergenic' }}{{ query_suffix('min_conflict_level', 'gene_type') }}#condition-and-significance-breakdown">
                                    {{ row['condition_count'] }}
                                </a>
                            </td>
                            <td>
                                <a href="variants-by-gene/{{ row['gene']|superescaped or 'intergenic' }}{{ query_suffix('min_conflict_level', 'gene_type') }}#submitter-and-significance-breakdown">
                                    {{ row['submitter_count'] }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock %}
