{% extends 'skin.html' %}
{% set title = 'Variants from ' + submitter_info['name'] %}
{% block title %}Variants from {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status' %}
        {% set method1_label = 'Method' %}
        {% set min_conflict_level_filter = True %}
        {% set standardized_terms_filter = True %}
        {% include 'filter.html' %}
    {% endwith %}
    <p>Total variants: {{ total }}</p>
    {% if total %}
        {% with base_url = 'variants-by-submitter/' + submitter_info['id']|string %}
            {% include 'breakdown-by-gene-and-significance.html' %}
            {% include 'breakdown-by-trait-and-significance.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
