{% extends 'extend/skin.html' %}
{% set title %}
    Variants from {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
{% endset %}
{% block tagline %}
    {{ submitter_tagline(submitter_info, submitter_primary_method)|safe }}
{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum submission review status' %}
        {% set method1_label = 'Collection method' %}
        {% set min_conflict_level_filter = True %}
        {% set original_genes_filter = True %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    {% include 'include/significance-overview.html' %}
    {% if total_variants %}
        {% include 'include/breakdown-by-gene-and-significance.html' %}
        {% include 'include/breakdown-by-condition-and-significance.html' %}
    {% endif %}
{% endblock %}
