{% extends 'extend/skin.html' %}
{% set title = 'Variants by significance' %}
{% block head %}
    <script src="static/line-graph.js" type="application/javascript"></script>
    <link href="static/line-graph.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum submission review status' %}
        {% set method1_label = 'Collection method' %}
        {% set min_conflict_level_filter = True %}
        {% set original_genes_filter = True %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    <div class="totals">
        <div>Total significance terms: {{ total_variants_by_significance|length }}</div>
        {% if total_variants_by_significance %}
            <div>{{ 'significance-table'|tabledownloadlink|safe }}</div>
        {% endif %}
    </div>
    {% if total_variants_by_significance %}
        <table class="simple-numeric sortable table" id="significance-table">
            <thead>
                <tr>
                    <th>Submission significance</th>
                    <th class="desc">Variants</th>
                    <th>Genes</th>
                    <th>Conditions</th>
                    <th>Submitters</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_variants_by_significance %}
                    <tr>
                        {% with url = 'variants-by-significance/' + row['significance']|superescaped + query_suffix('min_conflict_level', 'original_genes', 'original_terms') %}
                            <td>
                                <a href="{{ url }}">{{ row['significance'] }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}">{{ row['count'] }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}#breakdown-by-gene">{{ row['gene_count'] }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}#breakdown-by-condition">{{ row['condition_count'] }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}#breakdown-by-submitter">{{ row['submitter_count'] }}</a>
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
