{% extends 'extend/skin.html' %}
{% set title %}
    {% if gene_info['type'] == 0 %}
        Intergenic variants with conflicting interpretations "{{ significance1 }}" and "{{ significance2 }}"
    {% elif gene_info['type'] == 1 %}
        Variants in gene {{ gene_info['name']|genelink|safe }} with conflicting interpretations "{{ significance1 }}"
        and "{{ significance2 }}"
    {% else %}
        Variants in gene combination {{ gene_info['name'] }} with conflicting interpretations reported as
        "{{ significance1 }} and "{{ significance2 }}"
    {% endif %}
{% endset %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Submission 1 (' + significance1 + ') minimum review status' %}
        {% set method1_label = 'Submission 1 (' + significance1 + ') method' %}
        {% set review_status2_label = 'Submission 2 (' + significance2 + ') minimum review status' %}
        {% set method2_label = 'Submission 2 (' + significance2 + ') method' %}
        {% set gene_filters = True %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    {% if variants %}
        {{ table_search_box('variant-table')|safe }}
    {% endif %}
    <div class="totals">
        <div>Total variants with conflicting interpretations: {{ variants|length }}</div>
        {% if variants %}
            <div>{{ 'variant-table'|tabledownloadlink|safe }}</div>
        {% endif %}
    </div>
    {% if variants %}
        {% include 'include/variants.html' %}
    {% endif %}
{% endblock %}
