{% extends 'extend/skin.html' %}
{% set title = 'Variants with conflicting interpretations "' + significance1 + '" and "' + significance2 + '"' %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Submission 1 (' + significance1 + ') minimum review status' %}
        {% set method1_label = 'Submission 1 (' + significance1 + ') method' %}
        {% set review_status2_label = 'Submission 2 (' + significance2 + ') minimum review status' %}
        {% set method2_label = 'Submission 2 (' + significance2 + ') method' %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    {% if variants %}
        {{ table_search_box('variant-table')|safe }}
    {% endif %}
    <p>Total variants with conflicting interpretations: {{ variants|length }}</p>
    {% if variants %}
        {% include 'include/variants.html' %}
    {% endif %}
{% endblock %}
