{% extends 'extend/variants.html' %}
{% set gene_filters = True %}
{% set title %}
    {% if gene %}
        {% if significance %}
            List of variants in gene {{ gene|genelink|safe }} reported as {{ significance }} by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% else %}
            List of variants in gene {{ gene|genelink|safe }} reported by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% endif %}
    {% else %}
        {% if significance %}
            List of intergenic variants reported as {{ significance }} by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% else %}
            List of intergenic variants reported by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% endif %}
    {% endif %}
{% endset %}
