{% extends 'extend/skin.html' %}
{% set title %}
    Variants with conflicting interpretations studied for {{ condition_name }}
{% endset %}
{% block tagline %}
    {{ condition_tagline(condition_xrefs)|safe }}
{% endblock %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum review status of the submission for ' + condition_name %}
        {% set method1_label = 'Collection method of the submission for ' + condition_name %}
        {% set review_status2_label = 'Minimum review status of the other submission' %}
        {% set method2_label = 'Collection method of the other submission' %}
        {% set min_conflict_level_filter = 'high_only' %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    {% with %}
        {% set total_variants_in_conflict = variants|length %}
        {% include 'include/conflict-overview.html' %}
    {% endwith %}
    {% if variants %}
        {% with %}
            {% set x_label = 'All conditions' %}
            {% set y_label = condition_name %}
            {% include 'include/conflict-breakdown.html' %}
        {% endwith %}
        {{ h2('Condition to condition summary')|safe }}
        {{ table_search_box('condition-table')|safe }}
        <div class="totals">
            <div>Total conditions: {{ summary|length }}</div>
            <div>{{ 'condition-table'|tabledownloadlink|safe }}</div>
        </div>
        <table class="sortable summary table table-bordered table-striped" id="condition-table">
            <thead>
                <tr>
                    <th>Condition</th>
                    {% with sorted = True %}
                        {% include 'include/conflict-headers.html' %}
                    {% endwith %}
                </tr>
            </thead>
            <tbody>
                {% for condition2_name, condition2_summary in summary.items() %}
                    <tr>
                        <th>{{ condition2_name }}</th>
                        {% if condition2_summary[-1] %}
                            <td class="highlight">{{ condition2_summary[-1] }}</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                        {% if condition2_summary[0] %}
                            <td class="level0-conflict thick-right-border">{{ condition2_summary[0] }}</td>
                        {% else %}
                            <td class="thick-right-border">0</td>
                        {% endif %}
                        {% for i in range(1, 6) %}
                            {% if min_conflict_level <= i %}
                                {% if i in condition2_summary %}
                                    <td class="level{{ i }}-conflict">{{ condition2_summary[i] }}</td>
                                {% else %}
                                    <td>0</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td class="highlight thick-left-border">{{ condition2_summary['any_conflict'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'include/all-variants-in-conflict.html' %}
    {% endif %}
{% endblock %}
