{% extends 'extend/variants.html' %}
{% set gene_filters = True %}
{% set original_terms_filter = True %}
{% set title %}
    {% if gene_info['type'] == 0 %}
        {% if significance %}
            List of intergenic variants reported as {{ significance }} by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% else %}
            List of intergenic variants reported by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% endif %}
    {% elif gene_info['type'] == 1 %}
        {% if significance %}
            List of variants in gene {{ gene_info['name']|genelink|safe }} reported as {{ significance }} by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% else %}
            List of variants in gene {{ gene_info['name']|genelink|safe }} reported by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% endif %}
    {% else %}
        {% if significance %}
            List of variants in gene combination {{ gene_info['name'] }} reported as {{ significance }} by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% else %}
            List of variants in gene combination {{ gene_info['name'] }} reported by
            {{ submitter_link(submitter_info['id'], submitter_info['name'])|safe }}
        {% endif %}
    {% endif %}
{% endset %}
