{% extends 'extend/skin.html' %}
{% set title = 'Variants with conflicting interpretations, by condition' %}
{% block content %}
    <form action="" autocomplete="off">
        {% with %}
            {% set review_status1_label = 'Submission 1 minimum review status' %}
            {% set method1_label = 'Submission 1 collection method' %}
            {% set review_status2_label = 'Submission 2 minimum review status' %}
            {% set method2_label = 'Submission 2 collection method' %}
            {% set min_conflict_level_filter = 'high_only' %}
            {% include 'include/filter.html' %}
        {% endwith %}
        {% include 'include/conflict-overview.html' %}
        {% if summary %}
            {{ table_search_box('condition-table', 'div')|safe }}
        {% endif %}
        <div class="totals">
            <div>Total conditions with conflicts: {{ summary|length }}</div>
            {% if summary %}
                <div>{{ 'condition-table'|tabledownloadlink|safe }}</div>
            {% endif %}
        </div>
        {% if summary %}
            <table class="filterable sortable summary table table-bordered table-striped" id="condition-table">
                <thead>
                    <tr>
                        <th>Filter</th>
                        <th>Condition</th>
                        {% with sorted = True %}
                            {% include 'include/conflict-headers.html' %}
                        {% endwith %}
                    </tr>
                </thead>
                <tbody>
                    {% for condition_name, condition_summary in summary.items() %}
                        <tr>
                            {% with url = 'variants-in-conflict-by-condition/' + condition_name|superescaped + query_suffix('min_conflict_level') %}
                                <td>
                                    <input
                                        {% if condition_name in request.args.getlist('conditions') %}
                                            checked="checked"
                                        {% endif %}
                                        name="conditions"
                                        type="checkbox"
                                        value="{{ condition_name }}"
                                    />
                                </td>
                                <th>
                                    <a href="{{ url }}">{{ condition_name }}</a>
                                </th>
                                {% if condition_summary[-1] %}
                                    <td class="highlight">{{ condition_summary[-1] }}</td>
                                {% else %}
                                    <td>0</td>
                                {% endif %}
                                {% if condition_summary[0] %}
                                    <td class="level0-conflict thick-right-border">{{ condition_summary[0] }}</td>
                                {% else %}
                                    <td class="thick-right-border">0</td>
                                {% endif %}
                                {% for i in range(1, 6) %}
                                    {% if min_conflict_level <= i %}
                                        {% if i in condition_summary %}
                                            <td class="level{{ i }}-conflict">{{ condition_summary[i] }}</td>
                                        {% else %}
                                            <td>0</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <td class="highlight thick-left-border">
                                    <a href="{{ url }}">{{ condition_summary['any_conflict'] }}</a>
                                </td>
                            {% endwith %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock %}
