{% extends 'extend/skin.html' %}
{% set title = 'Variants reported as ' + significance %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum submission review status' %}
        {% set method1_label = 'Collection method' %}
        {% set min_conflict_level_filter = True %}
        {% set gene_filters = True %}
        {% set original_terms_filter = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    <p>Total variants: {{ total_variants }}</p>
    {% if total_variants %}
        {{ h2('Breakdown by submitter')|safe }}
        <div class="totals">
            <div>Total submitters: {{ total_variants_by_submitter|length }}</div>
            <div>{{ 'submitter-table'|tabledownloadlink|safe }}</div>
        </div>
        <table class="simple-numeric sortable table" id="submitter-table">
            <thead>
                <tr>
                    <th>Submitter</th>
                    <th class="desc">Variants</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_variants_by_submitter %}
                    <tr>
                        {% with url = 'variants-by-submitter/' + row['submitter_id']|string + '/significance/' + significance|superescaped + query_suffix('min_conflict_level', 'original_terms') %}
                            <td>
                                <a href="{{ url }}">{{ row['submitter_name'] }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}">{{ row['count'] }}</a>
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ h2('Breakdown by condition')|safe }}
        <div class="totals">
            <div>Total conditions: {{ total_variants_by_condition|length }}</div>
            <div>{{ 'condition-table'|tabledownloadlink|safe }}</div>
        </div>
        <table class="simple-numeric sortable table" id="condition-table">
            <thead>
                <tr>
                    <th>Condition</th>
                    <th class="desc">Variants</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_variants_by_condition %}
                    <tr>
                        {% with url = 'variants-by-conditon/' + row['condition_name']|superescaped + '/significance/' + significance|superescaped + query_suffix('min_conflict_level', 'original_terms') %}
                            <td>
                                <a href="{{ url }}">{{ row['condition_name'] }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}">{{ row['count'] }}</a>
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ h2('Breakdown by gene')|safe }}
        <div class="totals">
            <div>Total genes: {{ total_variants_by_gene|length }}</div>
            <div>{{ 'gene-table'|tabledownloadlink|safe }}</div>
        </div>
        <table class="simple-numeric sortable table" id="gene-table">
            <thead>
                <tr>
                    <th>Gene</th>
                    <th class="desc">Variants</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_variants_by_gene %}
                    <tr>
                        {% with url = 'variants-by-gene/' + (row['gene']|superescaped or 'intergenic') + '/significance/' + significance|superescaped + query_suffix('min_conflict_level', 'original_genes', 'original_terms') %}
                            <td>
                                <a href="{{ url }}">{{ row['gene'] or '\u200Bintergenic' }}</a>
                            </td>
                            <td>
                                <a href="{{ url }}">{{ row['count'] }}</a>
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
