{% extends 'extend/skin.html' %}
{% set title = 'Variants reported as ' + significance %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Minimum submission review status' %}
        {% set method1_label = 'Collection method' %}
        {% set min_conflict_level_filter = True %}
        {% set original_terms_filter = True %}
        {% set original_terms_disabled = True %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    <p>Total variants: {{ total_variants }}</p>
    {% if total_variants %}
        {{ h2('Breakdown by submitter')|safe }}
        <p>Total submitters: {{ total_variants_by_submitter|length }}</p>
        <table class="simple-numeric sortable table">
            <thead>
                <tr>
                    <th>Submitter</th>
                    <th class="desc">Variants</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_variants_by_submitter %}
                    <tr>
                        <td>{{ submitter_link(row['submitter_id'], row['submitter_name'])|safe }}</td>
                        <td>
                            <a href="variants-by-submitter/{{ row['submitter_id'] }}/significance/{{ significance|superescaped }}{{ request|querysuffix }}">
                                {{ row['count'] }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ h2('Breakdown by condition')|safe }}
        <p>Total conditions: {{ total_variants_by_condition|length }}</p>
        <table class="simple-numeric sortable table">
            <thead>
                <tr>
                    <th>Condition</th>
                    <th class="desc">Variants</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_variants_by_condition %}
                    <tr>
                        <td>{{ condition_link(row['condition_db'], row['condition_id'], row['condition_name'])|safe }}</td>
                        <td>
                            <a href="variants-by-condition/{{ row['condition_name']|superescaped }}/significance/{{ significance|superescaped }}{{ request|querysuffix }}">
                                {{ row['count'] }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ h2('Breakdown by gene')|safe }}
        <p>Total genes: {{ total_variants_by_gene|length }}</p>
        <table class="simple-numeric sortable table">
            <thead>
                <tr>
                    <th>Gene</th>
                    <th class="desc">Variants</th>
                </tr>
            </thead>
            <tbody>
                {% for row in total_variants_by_gene %}
                    <tr>
                        <td>{{ row['gene']|genelink|safe or '\u200Bintergenic' }}</td>
                        <td>
                            <a href="variants-by-gene/{{ row['gene']|superescaped or 'intergenic' }}/significance/{{ significance|superescaped }}{{ request|querysuffix }}">
                                {{ row['count'] }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
