{% extends 'extend/skin.html' %}
{% set title = 'Variants with conflicting interpretations, by significance' %}
{% block content %}
    {% with %}
        {% set review_status1_label = 'Y axis minimum submission review status' %}
        {% set method1_label = 'Y axis collection method' %}
        {% set review_status2_label = 'X axis minimum submission review status' %}
        {% set method2_label = 'X axis collection method' %}
        {% set original_terms_filter = True %}
        {% set min_conflict_level_filter = 'high_only' %}
        {% include 'include/filter-form.html' %}
    {% endwith %}
    {% include 'include/conflict-overview.html' %}
    {% if total_variants_in_conflict %}
        {% with %}
            {% set link_base = 'variants-in-conflict-by-significance' %}
            {% include 'include/conflict-breakdown.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
